.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  height: 60px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-logo h1 {
  margin: 0;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}

.navbar-links a:hover {
  text-decoration: none;
  border: none;
  background-color: #009688;
}

.navbar-links button {
  color: #fff;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
}

.navbar-links button:hover {
  background-color: #009688;
}
